body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    align-items: center;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

h1 {
    margin-left: 100px;
}

.grid-form > div {
    gap: 10px;
}

.grid-form > div.header {
    grid-area: 1 / 1 / span 1 / span 2;
}

.grid-form > div.menu {
    grid-area: 1 / 1 / span 1 / span 2;

    margin-left: 10px;
    grid-area: span 2;
}

.grid-form > div.about-doc-left{
    grid-area: 2 / 1 / span 1 / span 2;
}

.grid-form > div.about-doc-right {
    /* grid-area: about-doc-right; */
    grid-area: 3 / 2 / 3 / 3;
}

.menu li {
    list-style: none;
    display: inline;
}

button, input[id="submit"] {
    height: 30px;
    border-width: 1px;
    border-radius: 5px;

}

button:hover {
    background-color: rgb(56, 240, 178);
}

#submit {
    background-color:  rgb(207, 236, 226);
    font-weight: bold;
}

#submit:hover {
    background-color:rgb(123, 202, 176);
}


.about-doc > div{
    margin: 10px;
}

label {
    font-size: small;
}

input {
    width: auto;
    margin: 10px;
    height: 15px;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
}

.left-about-doc {
    float: left;
    width: 40%;
    
}

.right-about-doc {
    float: right;
    width: 60%;
}